---
new_page_extension: md
auto_deploy: false
admin_path: "/static/admin"
webhook_url: 
sections:
- type: heading
  label: Content
- type: directory
  path: sub_pages
  label: Pages
  create: all
  match: "**/*.md"
- type: directory
  path: jewelry
  label: Jewelry
  create: documents
  match: "**/*"
  templates:
  - jewelry
- type: heading
  label: Resources
- type: document
  path: data/theme.json
  label: Theme config
- type: directory
  path: testimonials
  label: Testimonials
  create: documents
  match: "**/*"
  templates:
  - testimonials
- type: directory
  path: blog
  label: Blog
  create: all
  match: "**/*.md"
  templates:
  - blog
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: dist
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run develop
