@font-face {
  font-family: CenturyGothic, serif;
  src: url('./fonts/CenturyGothic/GOTHIC.TTF')
}

@font-face {
  font-family: OpenSans, serif;
  src: url('./fonts/Open_Sans/OpenSans-Regular.ttf');
}

.text-10xl {
  font-size: 10rem;
}

.drop-shadow {
  background-color: #E3E3E3;
  width: fit-content;
  height: 5rem;
  display: inline-block;
}
