@font-face {
  font-family: Georgia, 'Times New Roman', Times, serif;
  src: url('./fonts/GEORGIA.TTF');
}

h1 {
  font-family: Georgia;
  color: #464646;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #676665;
}

.text-7xl {
  font-size: 7rem;
}

.bg-blue-gray-e {
  background-color: #8B91A0;
}

.text-light-e {
  color: #F6F8F8;
}

.drop-shadow {
  background-color: #E3E3E3;
  width: fit-content;
  height: 5rem;
  display: inline-block;
}
